.forumReplyWrapper:has(.userPostUsername a[href="/userinfo/Ri"]) {
    border-radius: 13px!important;
}

.forumReplyWrapper:has(.userPostUsername a[href="/userinfo/Ri"]) {
	position: relative!important;
	overflow: hidden!important;
}

.forumReplyWrapper:has(.userPostUsername a[href="/userinfo/Ri"])::after {
	content: '';
	position: absolute!important;
	inset: 0;
	background: url('https://i.pinimg.com/736x/07/2a/64/072a648fab7be4e61b8f3739c0dfa5c9.jpg') no-repeat center;
	background-size: cover!important;
	z-index: 1!important;
	opacity: 0.6!important;
}

/* Put the content above the blurred background */
.forumReplyWrapper:has(.userPostUsername a[href="/userinfo/Ri"]) {
	position: relative!important;
	z-index: 999!important;
}

.forumReplyWrapper:has(.userPostUsername a[href="/userinfo/Ri"]) .forumReplyHeader, .forumReplyWrapper:has(.userPostUsername a[href="/userinfo/Ri"]) .forumReplyFooter {
	background-color: hsl(0deg 0% 0% / 32%)!important;
	border-radius: 10px!important;
	border: 1px solid rgba(255, 255, 255, .1)!important;
	backdrop-filter: blur(10px)!important;
}

.forumReplyWrapper:has(.userPostUsername a[href="/userinfo/Ri"]) .forumReplyMessage, {
	border: thin solid rgba(255, 255, 255, .1)!important;
	backdrop-filter: blur(10px)!important;
	padding: 10px!important;
	border-radius: 12px!important;
}
