.forumReplyWrapper:has(a[href~="/userinfo/Ri"]) {
  border-radius: 13px;
  position: relative;
  overflow: hidden;
}

.forumReplyWrapper:has(a[href~="/userinfo/Ri"])::after {
    content: '';
    position: absolute;
    inset: 0;
    background: url('//i.pinimg.com/1200x/ba/5b/61/ba5b613b625e1013284f588943cd6e15.jpg') no-repeat center/cover;
    z-index: 0;
    opacity: 0.2;
}

.forumReplyWrapper:has(a[href~="/userinfo/Ri"]) > * {
  position: relative;
  z-index: 1;
}

.forumReplyWrapper:has(a[href~="/userinfo/Ri"]) .forumReplyHeader,
.forumReplyWrapper:has(a[href~="/userinfo/Ri"]) .forumReplyFooter {
  background-color: hsl(0deg 0% 0% / 32%);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(5px);
}

.forumReplyWrapper:has(a[href~="/userinfo/Ri"]) .forumReplyMessage {
  border: thin solid rgba(255, 255, 255, .2);
  background-color: hsl(0deg 0% 0% / 20%);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 12px;
}

/* POST EXAMPLE BELOW, SHOULD BE AT BOTTOM -- https://www.hexrpg.com/f/315333/254091?page=1#8287660*/

.forumReplyWrapper:has(> div[id^="8287660"]) {
    border-radius: 13px;
    position: relative;
    overflow: hidden;
}

.forumReplyWrapper:has(> div[id^="8287660"])::after {
    content: '';
    position: absolute;
    inset: 0;
    background: url('https://i.pinimg.com/736x/07/2a/64/072a648fab7be4e61b8f3739c0dfa5c9.jpg') no-repeat center;
    background-size: cover;
    z-index: 0;
    opacity: 0.6;
}

.forumReplyWrapper:has(> div[id^="8287660"]) > * {
    position: relative;
    z-index: 1;
}

.forumReplyWrapper:has(> div[id^="8287660"]) .forumReplyHeader,
.forumReplyWrapper:has(> div[id^="8287660"]) .forumReplyFooter {
    background-color: hsl(0deg 0% 0% / 32%);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
}

.forumReplyWrapper:has(> div[id^="8287660"]) .forumReplyMessage {
    border: thin solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 12px;
}
